In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
surgery = pd.read_csv('C:/Users/CSC/Documents/Dissertation/MSc-Dissertation/data/new_data_ref_dates.csv')

In [6]:
surgery.head()

,HRG,Activity Type,Provider,Local Patient Identifier,LSOA,HRG Description,Fin Year,Fin Month,Start_clock_date,End_clock_date,Priority,Independent Sector
0,BZ31A,Inpatient/Day Case,ANGLIA COMMUNITY EYE SERVICE LTD,62721612,NaN,"Very Major, Cataract or Lens Procedures, with ...",2024/25,9,12/18/2024,12/20/2024,1,Yes
1,BZ31A,Inpatient/Day Case,ANGLIA COMMUNITY EYE SERVICE LTD,51568750,NaN,"Very Major, Cataract or Lens Procedures, with ...",2024/25,9,11/27/2024,12/13/2024,1,Yes
2,BZ31A,Inpatient/Day Case,ANGLIA COMMUNITY EYE SERVICE LTD,63030672,NaN,"Very Major, Cataract or Lens Procedures, with ...",2024/25,11,1/27/2025,2/19/2025,1,Yes
3,BZ31A,Inpatient/Day Case,ANGLIA COMMUNITY EYE SERVICE LTD,62783029,NaN,"Very Major, Cataract or Lens Procedures, with ...",2024/25,10,1/20/2025,1/27/2025,1,Yes
4,BZ31A,Inpatient/Day Case,ANGLIA COMMUNITY EYE SERVICE LTD,62890003,NaN,"Very Major, Cataract or Lens Procedures, with ...",2024/25,9,11/5/2024,12/13/2024,1,Yes

In [9]:
surgery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8674 entries, 0 to 8673
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   HRG                       8674 non-null   object
 1   Activity Type             8674 non-null   object
 2   Provider                  8674 non-null   object
 3   Local Patient Identifier  8674 non-null   object
 4   LSOA                      6844 non-null   object
 5   HRG Description           8674 non-null   object
 6   Fin Year                  8674 non-null   object
 7   Fin Month                 8674 non-null   int64
 8   Start_clock_date          8674 non-null   datetime64[ns]
 9   End_clock_date            8674 non-null   datetime64[ns]
 10  Priority                  8674 non-null   int64
 11  Independent Sector        8674 non-null   object
dtypes: datetime64[ns](2), int64(2), object(8)
memory usage: 813.3+ KB

In [8]:
surgery['Start_clock_date'] = pd.to_datetime(surgery['Start_clock_date'])
surgery['End_clock_date'] = pd.to_datetime(surgery['End_clock_date'])

In [10]:
grouped_data = surgery.groupby('End_clock_date').size().reset_index(name='count')
print(grouped_data.head())

  End_clock_date  count
0     2024-04-02     20
1     2024-04-03     37
2     2024-04-04     41
3     2024-04-05     10
4     2024-04-06     18